<div class="card w-full h-full shadow rounded">
  <div class="image h-72 rounded overflow-hidden">
    <a [href]="'/products/' + product().id">
      <img
        [src]="product().image"
        class="w-full h-full object-contain transition-all duration-500 hover:scale-125"
        alt="{{ product().title }}"
      />
    </a>
  </div>
  <div class="content flex flex-col justify-between p-6">
    <div class="mb-5">
      <a [href]="'/products/' + product().id" class="text-lg font-bold line-clamp-1">
        {{ product().title }}</a
      >
      <div class="price text-gray-500 font-medium">
        <span class="currency">$</span>
        <span class="original-price">{{ product().price }}</span>
      </div>
    </div>
    <z-button
      (click)="cart.addToCart(product())"
      class="bg-black text-white flex-1 font-bold text-center"
    >
      Add to cart
    </z-button>
  </div>
</div>
