<section class="hero flex items-center justify-center pt-24 bg-gray-100">
  <div class="container mx-auto flex items-center justify-between">
    <div class="left fade-left space-y-10 max-w-2xl">
      <h1 class="text-6xl font-bold">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
      <p class="fade-left text-gray-600">
        Browse through our diverse range of meticulously crafted garments, designed to bring out
        your individuality and cater to your sense of style.
      </p>
      <div>
        <a href="/products" class="rounded-full bg-black text-white px-20 py-5 fade-left"
          >Shop Now</a
        >
      </div>
      <div class="flex items-center gap-x-10 fade-left">
        <div class="item">
          <h2 class="text-3xl font-bold">200</h2>
          <p class="text-lg text-gray-400 font-normal">International Brands</p>
        </div>
        <div class="item">
          <h2 class="text-3xl font-bold">2,000</h2>
          <p class="text-lg text-gray-400 font-normal">High-Quality Products</p>
        </div>
        <div class="item">
          <h2 class="text-3xl font-bold">30,000</h2>
          <p class="text-lg text-gray-400 font-normal">Happy Customers</p>
        </div>
      </div>
    </div>
    <div class="right fade">
      <div class="image relative">
        <img src="./hero/2humans.png" alt="boy and girl showing our clothes" />
        <lucide-angular
          name="Sparkles"
          class="absolute top-10 right-0 size-16 fill-black"
        ></lucide-angular>
        <lucide-angular
          name="Sparkles"
          class="absolute bottom-32 -left-5 size-16 fill-black"
        ></lucide-angular>
      </div>
    </div>
  </div>
</section>
