<section class="sponsors py-10 bg-black">
  <div class="flex items-center justify-between gap-8 flex-wrap container mx-auto">
    <img
      src="./sponsors/ck.png"
      alt="ck"
      class="h-8 w-auto object-contain grayscale hover:grayscale-0 transition"
    />
    <img
      src="./sponsors/gucci.png"
      alt="gucci"
      class="h-8 w-auto object-contain grayscale hover:grayscale-0 transition"
    />
    <img
      src="./sponsors/prada.png"
      alt="prada"
      class="h-8 w-auto object-contain grayscale hover:grayscale-0 transition"
    />
    <img
      src="./sponsors/versace.png"
      alt="versace"
      class="h-8 w-auto object-contain grayscale hover:grayscale-0 transition"
    />
    <img
      src="./sponsors/zara.png"
      alt="zara"
      class="h-8 w-auto object-contain grayscale hover:grayscale-0 transition"
    />
  </div>
</section>
