.cart-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  margin-top: 32px;
  align-items: start;
}
@media (max-width: 1200px) {
  .cart-content {
    grid-template-columns: 1fr;
  }
}

.cart-container {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

body.dark .cart-container {
  background-color: #272727;
}

.cart-container h2,
.cart-summary h2 {
  margin-bottom: 50px;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding-bottom: 32px;
}
.cart-item:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-bottom: 32px;
}

.cart-item img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.cart-item .item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.cart-item .item-details h3 {
  text-decoration: underline;
}

.cart-summary {
  background: #fafafa;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
body.dark .cart-summary {
  background-color: #272727;
}

.cart-summary .summary-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cart-summary .total {
  font-weight: bold;
  font-size: 19px;
}

.checkout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.checkout-btn {
  width: 100%;
  padding: 16px;
  border: none;
  background: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
