@import 'tailwindcss';

:root {
  --primary-color: #da8300;
}
body {
  font-family: 'Satoshi', sans-serif;
}

main {
  min-height: calc(100vh - 153.99px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Integral CF', sans-serif;
}

i {
  font-size: 20px;
}

.logo,
.logo-footer {
  font-size: 32px;
  font-weight: bold;
}
.logo {
  color: var(--primary-color) !important;
}
.logo-footer {
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .featured-products .title {
    font-size: 28px;
  }
}
.remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 14px;
}

.quantity {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.quantity button {
  background: #f5f5f5;
  border: none;
  width: 35px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  color: var(--primary-color);
  transition: background 0.3s;
}

.quantity button:hover {
  background: #e0e0e0;
}

.quantity input {
  width: 50px;
  text-align: center;
  border: none;
  font-size: 16px;
  outline: none;
}

/* animations  */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade {
  animation: fade 0.8s ease forwards;
}
.fade-left {
  animation: fade-left 0.8s ease forwards;
}
.fade-right {
  animation: fade-right 0.8s ease forwards;
}
.fade-up {
  animation: fade-up 0.8s ease forwards;
}
.fade-down {
  animation: fade-down 0.8s ease forwards;
}
