.cart-item {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding-bottom: 32px;
}
.cart-item:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-bottom: 32px;
}

.cart-item img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.cart-item .item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.cart-item .item-details h3 {
  text-decoration: underline;
}
